body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s, background-color 0.3s; /* Agrega un cambio de color al pasar mouse */
    padding: 10px 15px; /* espacio extra para mejorar la experiencia de lo de arriba*/
}

nav a:hover {
    color: #ccc; /* Para que el menu se sombree con el mouse */
    background-color: #555;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.imagen-ajustada {
    width: 300px;
    height: auto;
}

.imagen-fade { /*clase para efecto fade */
    width: 300px;
    height: 200px;
    /*background-color: #ddd; un color de fondo temporal*/
    margin-bottom: 20px;
    opacity: 0; /* establece la opacidad inicial en 0 */
    transition: opacity 0.8s; /* transición de opacidad */
}

.imagen-slide-fade {
    width: 300px; /*Tamaño del contenedor*/
    height: 200px;
    /*background-color: #ddd; Color de fondo temporal para el fade */
    overflow: hidden; /* Asegura que el contenido no se desborde del contenedor */
    opacity: 0; /* Establece la opacidad inicial en 0 para el efecto fade */
    transition: opacity 0.8s, transform 0.8s; /* Agrega una transición de opacidad y transformación */
}

.derecha { /*para alinear texto a la derecha */
    text-align: right;
}

.izquierda { /*para alinear texto a la izquierda */
    text-align: left;
}